.facebookShareLink:hover {
  text-decoration: none !important;
}

#topMenu {
  width: 99.5%;
  border: 1px solid black;
  margin: auto;
  color: #000;
  margin-bottom: 10px;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  height: 40px;
}
.showMenu {
  width: 40px;
  color: #000;
  left: 0;
  top: 0;
  font-size: 30px;
  position: fixed;
}

#showMenu {
  display: none;
}

#menuNavigazione {
  display: none;
  border: 1px solid black;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;
  z-index: 51;
  text-align: left;
  padding-left: 10px;
}

.cloud-label-widget-content {
  text-align: center;
}

#main-wrapper {
  margin-top: 28px;
}
.date-header {
  display: none;
}

#postTable {
  width: 100%;
}

.title a {
  color: #000 !important;
}

.title a:hover {
  text-decoration: none !important;
}



.PostUrl {
  font-family: "Trebuchet MS";
  font-size: 17px;
  color: #c00;
  text-decoration: none;
}

.PostUrl:hover {
  text-decoration: underline !important;
}

.Title {
  background-color: #c00;
  border: 1px solid black;
  color: white;
  display: block;
  font-family: "trebuchet ms";
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 22px;
  margin: 0px 0px 5px 0px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  width: 295px;
}

#navbar-iframe {
  display: none !important;
}

#HTML10 .title {
  display: none !important;
}

#preview {
  position: absolute;
  border: 1px solid #ccc;
  background: #333;
  padding: 1px;
  display: none;
  color: #fff;
}

#imgPreviewWithStyles {
  background: #222;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
  border: none;
}

#Header-Bottom {
  width: 100%;
  max-width: 1600px;
  text-align: left !important;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 110%;
  font-style: normal;
  font-variant: normal; /*font-weight: bold;*/
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
}

.morirono{
  list-style-type: none;
  display: flex;
  margin-left: -40px;
  overflow-x: auto;
}

#navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 43px;
  border-style: solid;
  border-color: Silver;
  border-width: 1px 0px 1px 0px;
  text-shadow: 0px 2px 2px silver;
  display: table;
  table-layout: fixed;
  width: 100%;
}

#navigation li {
  display: table-cell;
}

#navigation li a,
#navigation li span {
  margin-left: 40px;
}

.navigationMenu {
  white-space: nowrap;
  background-color: transparent;
  background-image: url("https://raw.githubusercontent.com/DottorPagliaccius/generic/main/teschietto-nero.png");
  background-repeat: no-repeat !important;
  background-position: 10px 12px;
  background-size: 20px;
  color: #000000 !important;
  margin: 0px !important;
  padding: 2px 5px !important;
  border-style: none;
  text-decoration: none;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 100%;
  cursor: pointer;
  min-width: 150px;
}

.navigationMenu:hover {
  cursor: pointer;
  background-color: #000000;
  background-image: url("https://raw.githubusercontent.com/DottorPagliaccius/generic/main/teschietto-bianco.png");
  color: #ffffff !important;
  border-radius: 10px;
}

.navigationTop {
  position: relative;
}

.navigationTop:hover {
  border-radius: 10px 10px 0px 0px;
}

.navigationMenu a {
  color: black !important;
  text-decoration: none;
}

.navigationMenu a:hover {
  color: White !important;
  text-decoration: none !important;
}

.navigationTop ul {
  display: none;
  position: absolute;
  top: 44px;
  left: 0px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-style: solid;
  border-color: Black;
  border-width: 0px 1px 1px 1px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  background-color: White;
  z-index: 50;
  width: 310px;
}

.navigationTop ul li {
  display: block !important;
  font-size: 100% !important;
  color: Black !important;
}

.navigationTop ul li a {
  display: block !important;
  font-size: 100% !important;
  color: black !important;
  text-decoration: none;
}

.navigationTop li {
  color: Black !important;
  clear: left;
  margin: 0px !important;
  padding: 2px 5px !important;
  border-style: none;
  text-decoration: none;
  text-align: left;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
  width: 139px;
  background-color: White;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

.navigationTop li:hover {
  background-image: url("https://raw.githubusercontent.com/DottorPagliaccius/generic/main/teschietto-nero.png");
  background-repeat: no-repeat !important;
  background-position: 5% 50%;
  color: black !important;
}

.navigationTop li img {
  border: 0px;
}

.navigationTop li a {
  background-color: White !important;
  color: black !important;
  text-decoration: none;
  margin-left: 25px !important;
}

.navigationTop li a:hover {
  text-decoration: none !important;
  color: black !important;
}

#Scava,
#ScavaMobile {
  border-width: 1px 1px;
  border-color: black;
  border-style: solid;
  background-color: Black;
  color: White;
  font-weight: bold;
  padding: 1px 10px;
  margin: 0px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  height: 41px;
  outline: none;
  float: right;
  font-size: 100%;
  -webkit-appearance: none;
}

#Scava:hover,
#ScavaMobile:hover {
  background-color: white;
  color: black;
}

#searchValueContainer,
#searchValueContainerMobile {
  background: url(https://www.lepers.it/morto/immagini/searchglass.png)
    no-repeat 2% 8px;
  border: 1px solid #000;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 0 0 0 20px;
  height: 41px;
  background-size: 20px;
}

#searchValueContainerMobile {
  background: url(https://www.lepers.it/morto/immagini/searchglass.png)
    no-repeat 2% 10px;
  background-size: 20px;
}

#searchValueMenu,
#searchValueMobile {
  width: 75%;
  font-size: 125%;
  margin-top: 5px;
  outline: none;
  border: 0px solid silver;
}

#searchValueMobile {
  width: 65%;
  margin-top: 7px;
}

.navigationSearch,
.navigationSearchMobile {
  position: relative;
  white-space: nowrap;
  background-color: white;
  background-repeat: no-repeat !important;
  background-position: 6% 50%;
  color: #000000 !important;
  margin: 0px !important;
  padding: 0px 0px !important;
  border-style: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  height: 39px;
}

.navigationSearchMobile {
  width: 98%;
}

.navigationSearch {
  width: 500px;
}

#contentSearch,
#contentSearchMobile {
  text-align: left;
  position: absolute;
  top: 42px;
  left: 0px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: Black;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 4px;
  display: none;
  background-color: white;
}

#contentSearchMobile {
  max-height: 250px;
  overflow-y: auto;
  width: 97.3%;
}

body {
  position: relative;
  background: #fff;
  margin: 0;
  padding: 0px;
  font: small Verdana, Arial;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
}

a {
  color: #cc0000;
  text-decoration: none !important;
}

a:hover {
  color: #cc0000;
  text-decoration: underline !important;
}

a:visited {
  color: #cc0000;
}

a img {
  border-width: 0;
}

#outer-wrapper {
  font-family: Verdana, Arial, Sans-serif;
  font-size: 18px;
  width: 100%;
  max-width: 1265px;
  float: center;
  overflow-x: hidden;
}

/* Header
----------------------------------------------- */
#header-wrapper {
  padding: 0;
  width: 100%;
}

#header {
  color: #000000;
  font: normal normal 210% Verdana, Arial, Sans-serif;
  text-align: center;
  display: block;
  width: 100%;
  z-index: 25;
}

h2.title a,
h2.title a:visited {
  color: White !important;
  text-decoration: none;
}

h2.title a:hover {
  text-decoration: underline;
}

#header .description {
  display: block;
  margin: 0 14px;
  padding: 0 0 40px;
  line-height: 1.4em;
  font-size: 50%;
}

/* Content
----------------------------------------------- */

.clear {
  clear: both;
}

#content-wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 10px;
  text-align: left;
  background-color: transparent;
  border: 0px solid #000000;
  border-top: 0;
}

#main-wrapper {
  width: 98%;
  margin-left: 8px;
  float: left;
  background-color: transparent;
  display: inline; /* fix for doubling margin in IE */
  word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
  overflow: hidden; /* fix for long non-text content breaking IE sidebar float */
  z-index: -1;
  max-width: 1000px;
}

#sidebar-wrapper {
  margin-right: 8px;
  margin-left: 8px;
  width: 240px;
  float: right;
  background-color: transparent;
  display: inline; /* fix for doubling margin in IE */
  word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
  overflow: hidden; /* fix for long non-text content breaking IE sidebar float */
}

#newsidebar-wrapper {
  width: 335px;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 0px;
  word-wrap: break-word;
  overflow: hidden;
  text-align: center !important;
  background-color: transparent;
}

/* Headings
----------------------------------------------- */
h2,
h3 {
  margin: 0;
}

/* Posts
----------------------------------------------- */
.date-header {
  margin: 0 0;
  font-weight: bold;
  color: black;
  font-size: 100%;
  text-align: center;
  background-color: white;
  padding: 5px 0;
  text-transform: uppercase;
}

.post {
  margin: 0 0 1.5em;
  padding-bottom: 1.5em;
}

#postTable > tbody > tr > td > span > div:first-child > img, #postTable > tbody > tr > td > span > div:first-child > a > img {
  padding: 6px;
  background: white;
  border: 1px solid silver;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.noShadow {
  padding: 0px !important;
  background: white !important;
  border: 0px solid silver !important;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2) !important;
  border-radius: 0px !important;
}

.post-title {
  text-align: center;
  background-color: black;
  color: white !important;
  margin: 0;
  font-size: 125%;
  font-weight: bold;
  line-height: 1.1em;
}

.post-title a,
.post-title a:visited,
.post-title strong {
  text-decoration: none;
  font-weight: bold;
  color: white !important;
}

.post-title a:hover {
  text-decoration: none !important;
}

.post div {
  margin: 0 0 0.75em;
  line-height: 1.3em;
}
.post-footer {
  margin: -0.25em 0 0;
  color: #000000;
}

.post-footer .span {
  margin-right: 0.3em;
}

blockquote {
  margin: 20px 10px;
  padding-left: 20px;
  font-style: italic;
  background: transparent url(https://www.lepers.it/morto/immagini/quote.png)
    no-repeat;
}

/* Comments
----------------------------------------------- */
/* #comments h4 {
  margin: 1em 0;
  color: #000000;
}
#comments h4 strong {
  font-size: 110%;
}
#comments-block {
  margin: 1em 0 1.5em;
  line-height: 1.3em;
}
#comments-block dt {
  margin: 0.5em 0;
}
#comments-block dd {
  margin: 0.25em 0 0;
}
#comments-block dd.comment-footer {
  margin: -0.25em 0 2em;
  line-height: 1.4em;
  font-size: 78%;
}
#comments-block dd p {
  margin: 0 0 0.75em;
}
 */
.deleted-comment {
  font-style: italic;
  color: gray;
}

.feed-links {
  clear: both;
  line-height: 2.5em;
}

.blog-feeds {
  display: none;
}

#blog-pager-newer-link {
  float: left;
}

#blog-pager-older-link {
  float: right;
}

#blog-pager {
  text-align: center;
}

.home-link{

  display: none;
}

/* Calendar*/

#bcalendar td {
  text-align: center;
}

.post-feeds {
  display: none;
}

/* Sidebar Content
----------------------------------------------- */
.sidebar h2 {
  margin: 1.6em 0 0.5em;
  padding: 4px 5px;
  background-color: #000;
  font-size: 100%;
  color: #fff;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar li {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0.5em;
  padding-left: 15px;
  text-indent: -15px;
  line-height: 1.5em;
}
.sidebar {
  color: #000000;
  line-height: 1.3em;
  margin: 0px;
}
.sidebar .widget {
  margin-bottom: 1em;
  margin: 0px;
}

.sidebar .widget-content {
  margin: 0 5px;
}

/* Profile 
----------------------------------------------- */
.profile-img {
  float: left;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  padding: 4px;
  border: 1px solid #000000;
}

.profile-data {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 1.6em;
  font-size: 78%;
}

.profile-datablock {
  margin: 0.5em 0 0.5em;
}

.profile-textblock {
  margin: 0.5em 0;
  line-height: 1.6em;
}

/* Footer
----------------------------------------------- */
#footer {
  clear: both;
  text-align: center;
  color: #000000;
  border-top: 1px solid black;
  background-color: white;
}

#footer .widget {
  margin: 0.5em;
  padding-top: 20px;
  font-size: 85%;
  line-height: 1.5em;
  text-align: left;
}

.NewsBar {
  color: Black;
}

.NewsBar a {
  color: #cc0000 !important;
  text-decoration: underline !important;
}
.NewsBar b,
strong {
  color: #cc0000 !important;
}
.NewsBar a:visited {
  color: #cc0000;
}
.NewsBar a:hover {
  color: #cc0000;
}

.gs-title a {
  color: #cc0000 !important;
}

.gs-snippet b {
  color: Black !important;
}

.Capocchia img {
  border: 10px double Black;
}

.Capocchia img:hover {
  border: 10px double Black;
}

.votePanel img {
  border: 0px;
}

.gsc-branding-img-noclear {
  display: none;
}

.gsc-branding-text {
  display: none;
}

#box {
  width: 40px;
  height: 91px;
  background-image: url(https://www.lepers.it/morto/immagini/ArrowTopWhite.png);
  position: fixed;
  bottom: -91px;
  right: 3px;
  cursor: pointer;
}

::selection {
  background: #000; /* Safari */
  color: white;
}
::-moz-selection {
  background: #000; /* Firefox */
  color: white;
}

.tooltipMain {
  position: absolute;
  border: 2px solid black;
  background: #000;
  color: #fff;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.videoContainer {
  width: 450px;
  height: 265px;
  float: left;
  display: none;
}

.videoBar {
  float: left;
  width: 124px;
  height: 94px;
  padding-left: 4px;
  padding-top: 4px;
}

.videoBar img {
  width: 120px;
  height: 90px;
}

#closeImage {
}

.loader {
  overflow: hidden;
  position: absolute;
  border: 10px solid black;
  background: #000;
  padding: 0px 0px;
  color: #000;
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.loaderPost {
  overflow: hidden;
  position: absolute;
  border: 10px solid black;
  background: #000;
  padding: 0px 0px;
  color: #000;
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.PostVotesBox {
  width: 55px;
  height: 16px;
  border: 1px solid black;
  background-color: #c00;
  padding: 0px;
  -moz-border-radius-bottomleft: 5px 5px;
  -moz-border-radius-topleft: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
}

/* da controllare*/

/* 
#labelCloud {
  text-align: center;
  font-family: arial, sans-serif;
}
#labelCloud .label-cloud li {
  display: inline;
  background-image: none !important;
  padding: 0 5px;
  margin: 0;
  vertical-align: baseline !important;
  border: 0 !important;
}
#labelCloud ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
#labelCloud a img {
  border: 0;
  display: inline;
  margin: 0 0 0 3px;
  padding: 0;
}
#labelCloud a {
  text-decoration: none;
}
#labelCloud a:hover {
  text-decoration: underline;
}
#labelCloud li a {
}
#labelCloud .label-cloud {
}
#labelCloud .label-count {
  padding-left: 0.2em;
  font-size: 9px;
  color: #000;
}
#labelCloud .label-cloud li:before {
  content: "" !important;
} */

#menuNavigazione ul {
  list-style: none;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
  margin-left: -35px;
}

#menuNavigazione ul li{
  margin-left: 15px;
}

#blog-pager, .blog-pager {
  display:block;
  padding:5px 0;
  }
  .showpage a, .pagenumber a, .totalpages, .current {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px;
  background: #ffffff;
  color: #333;
  border: 1px solid #f2f2f2;
  font-size: 12px;
  border-radius: 2px;
  transition: all .3s;
  } 
  
  .showpage a:hover, .pagenumber a:hover, .current {
  background: #333333;
  color: #ffffff;
  text-decoration:none;
  }

  #socialPanel {
 padding: 30px 0;display: inline-flex;justify-content: space-around;width: 100%;
  }

.shareContainer
{
width: 50px;position: relative;background-color: blue;float: right;bottom: 20px;
display:none;
}

.shareButton
{
width: 32px;right: 6px;position: absolute;

}

@media screen and (max-width: 1200px) {
  #sidebar-wrapper {
    margin: auto;
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  #menuNavigazione {
    display: none;
  }

  #newsidebar-wrapper {
    display: none;
  }

  #header {
    width: 100%;
  }

  #Header1_headerimg {
    width: 100% !important;
    height: auto !important;
  }

  #footer-wrapper {
    display: none;
  }

  #box {
    display: none;
  }

  #comments {
    display: none;
  }

  #crosscol-wrapper {
    display: none;
  }

  #header-wrapper {
    display: none;
  }

  #content-wrapper {
    width: 96%;
    margin: 0 auto;
  }

  #main-wrapper {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
  }

  #topMenu {
    display: block;
  }

  #topMenuTitle {
    text-align: center;
    font-size: 25px;
    color: black;
  }

  #topMenuTitleContainer {
    padding: 5px;
  }

  #topMenuTitle:hover {
    text-decoration: none !important;
  }

  .navigationSearch {
    width: 400px;
  }

  #showMenu:checked ~ #menuNavigazione {
    display: block;
  }

  .post-title a {

    font-size: 20px;
  }

  .teschio {

    width:24px;
  }

.shareContainer
{

display:block;
}

}

@media screen and (max-width: 450px) {
  #postTable > tbody > tr > td > span > div:first-child > img, #postTable > tbody > tr > td > span > div:first-child > a > img {
    width: 80%;
    height: auto;
  }
}